@import url('https://fonts.googleapis.com/css2?family=PT+Serif&family=REM:wght@200&display=swap');
:root{
    --main-color: #191970;
    --sub-color: #EAA023;
}
*{
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
}
html{
    overflow-x: hidden;
}
.container{
    width: 100%;
    height: auto;
}
.header{
    background-color: #191970;
    width: 100vw;
    z-index: 99;
}
nav{
    display: flex;/*Logo và menu trên cùng 1 hàng*/
    justify-content: space-between;
    justify-items: center;
}
.top .logo img{
    /* max-width: 350px; */
    width: 100%;
    height: auto;
    padding-top: 4px;
}
.menu{
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    width: 80%;
    font-size: 16px;
}
.menu li a{
    color: white;
    padding: 25px 20px;
    display: block;
    text-decoration: none;
}
.menu li{
    position: relative;
}
/*Thiết lập border khi hover*/
.menu > li > a{
    position: relative;
}
.menu > li > a::after{
     /* Tạo gạch chân bằng cách sử dụng pseudo-element :after */
     content: "";
     position: absolute;
     display: block;
     left: 50%; /* Căn giữa gạch chân theo chiều ngang */
     top: 0px; /* Đặt vị trí của gạch chân dưới đoạn văn bản */
     width: 0px; /* Ẩn gạch chân */
     height: 4px; /* Đặt độ dày của gạch chân */
     background-color: white; /* Đặt màu của gạch chân */
     transform: translateX(13%); /* Căn giữa gạch chân theo trục tâm */
     transition: all 1s; /* Thêm hiệu ứng chuyển động cho gạch chân */
}
.menu > li:not(:first-child):hover > a::after{
    width: 80%;
    left: 0px;
}
.search-box{ 
    background: white;
    position: absolute;
    border-radius: 30px;
    right: 2%;
    top: 10px;
}
.search-box .search-text{
    border: none;
    outline: none;
    background: none;
    font-size: 18px;
    width: 0;
    padding: 0;
    transition: all 0.25s ease-in-out;
}
.search-box:hover .search-text, .search-box .search-text:valid{
    width: 150px;
    padding: 10px 0px 10px 15px;
}
.search-box .search-btn{
    padding: 15px;
    border-radius: 50%;
    background: white;
    border: none;
    cursor: pointer;
    font-size: 18px;
}
.search-button {
    background-color:rgba(0, 0, 0, 0); /* Màu nền */
    color: white; /* Màu chữ */
    border: none; /* Loại bỏ đường viền */
    padding: 15px 30px; /* Khoảng cách giữa nội dung và viền */
    text-align: center; /* Căn giữa nội dung */
    text-decoration: none; /* Loại bỏ gạch chân */
    display: inline-block; /* Hiển thị trên cùng một dòng */
    font-size: 16px; /* Cỡ chữ */
    cursor: pointer; /* Đổi con trỏ chuột thành bàn tay */
    text-shadow: rgba(0, 0, 0, 0.8);
  }
  /* Định dạng khi hover lên button */
  .search-button:hover {
    background-color: #191970; /* Màu nền thay đổi */
  }
  
  /* Định dạng khi nhấn vào button */
  .search-button:active {
    background-color: #212189; /* Màu nền thay đổi */
  }
  .menu-mo-rong{
    display: none;
  }
.flex{
    display: flex;
}
.tool li{
    position: relative;
}
.tool li > a::after {
    /* Tạo gạch chân bằng cách sử dụng pseudo-element :after */
    content: "";
    display: block;
    position: absolute;
    left: 50%; /* Căn giữa gạch chân theo chiều ngang */
    bottom: 0px; /* Đặt vị trí của gạch chân dưới đoạn văn bản */
    width: 0; /* Ẩn gạch chân */
    height: 4px; /* Đặt độ dày của gạch chân */
    background-color: white; /* Đặt màu của gạch chân */
    transform: translateX(12%); /* Căn giữa gạch chân theo trục tâm */
    transition: all 1s; /* Thêm hiệu ứng chuyển động cho gạch chân */
}
.tool li:hover a::after {
    /* Khi hover vào đoạn văn bản, thay đổi thuộc tính của gạch chân */
    width: 80%; /* Hiện gạch chân và chiếm toàn bộ chiều rộng của đoạn văn bản */
    left: 0; /* Đặt vị trí trái của gạch chân bằng với vị trí trái của đoạn văn bản */
}
.tool{
    list-style-type: none;
    /* position:absolute; */
    top: 100%;
    width: 100%;
    justify-content: center;
    font-size: 20px;
    background-color: #212189;
 } 
.tool a{
    text-decoration: none;
    display: block;
    width: 9vw;
    padding: 5px 0px;
    /* padding: 15px; */
    color:white;
}
.tool > li{
    text-align: center;
}
/* tab */
.tab {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
}


.tab > li {
    background-color: #191970;
    margin-right: 0.3rem;
    border-radius: 10px 10px 0 0;
}

.tab > li > a {
    display: block;
    padding: 1rem;
    text-decoration: none;
    color: white;
}

.tab-content > div {
    background-color: #1d559f;
    color: white;
    padding: 1.5rem;
    border-radius: 0 20px 20px 20px;
}

.active {
    background-color: #1d559f !important;
}

.tab-content > div:not(:first-child) {
    display: none;
}
/* tuyen dung */
.tuyen-dung{
    padding: 2rem 3rem;
}
.name-tuyen-dung h1{
    font-size: 30px;
    color: #212189;
    padding-bottom: 1rem;
}
.content-tuyen-dung h2 {
    font-size: 25px;
    padding-bottom: 0.7rem;
}
.content-tuyen-dung p{
    line-height: 2rem;
}
.content-tuyen-dung{
    padding-bottom: 2rem;
}
.daotao-img img{
    width: 100%;
    height: 40vh;
}
.picture{
    display: flex;
    flex-direction: row;
}
.run{
    padding: 1rem;
    width: 33%;
}
.daotao-text a{
    color: white;
    text-decoration: none;
}
